PORT=3000
APP_NAME=backend
JWT_SECRET=cambia_esta_clave_jwt
JWT_EXPIRES_IN=8h
SESSION_SECRET=cambia_esta_clave_sesion

DATABASE_ENABLED=false
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=app_db
DATABASE_SYNC=true
DATABASE_SSL=false

IA_API_URL=https://api.openai.com/v1/chat/completions
IA_API_MODEL=gpt-4.1-mini
IA_API_KEY=coloca_tu_api_key
